{% extends "base.html" %}
{%block content%}
<h1>Add Tweet by Form</h1>
<div class="container tweetform"> 

    <form action="" method="post">
            
    {% csrf_token %}
    <!-- {{form}} -->

        <div class="mb-3">
            <label for="nickname" class="form-label"> {{form.nicknameInput.label_tag}}</label>
            {{form.nicknameInput}}
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">{{form.messageInput.label_tag}}</label>
            {{form.messageInput}}
        </div>
        <button type="submit" class="btn btn-primary">Send Tweet</button>
    </form>
</div>
{% endblock %}